

<div class="row">
  <div class="col-xxl-4 col-sm-4 col-md-4 col-lg-4">
    <div class="table-wrapper-scroll-y my-custom-scrollbar" >
      <nb-card status="primary">
        <nb-card-header>
          <div class="row">
            <div class="col-md-5 col-md-5 col-xxl-5">
              Prediccion Mayo 2019
            </div>
            
            <div class="col-md-3 col-md-3 col-xxl-3">
              Corporacion
            </div>
  
            <div class="col-md-4 col-md-4 col-xxl-4">
              <nb-select [selected]="corpsPesosIn" (selectedChange)="changeLabPesos($event)" style="width: 100%">
                <nb-option *ngFor="let corp of corpsPesos" [value]="corp">{{ corp }}</nb-option>
              </nb-select>
            </div>
          </div>
        </nb-card-header>
        <nb-card-body>
          <table class="table table-wrapper-scroll-y my-custom-scrollbar" >
            <thead class="table-light" >
              <tr>
                <th scope="col">Corporacion</th>
                <th scope="col">Presentacion</th>
                <th scope="col">Precio</th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-light" *ngFor="let predict of modelPredict; let i = index">
                <td>{{predict.corporacion}}</td>
                <td>{{predict.presentacion}}</td>
                <td>{{predict.precio}}</td>
              </tr>
            </tbody>
          </table>  
        </nb-card-body>
      </nb-card>
    </div>  
  </div>
  <div class="col-xxl-4 col-sm-4 col-md-4 col-lg-4">
    <div class="table-wrapper-scroll-y my-custom-scrollbar" >
      <nb-card status="primary">
        <nb-card-header>
          <div class="row">
            <div class="col-md-5 col-md-5 col-xxl-5">
              Prediccion Mayo 2019
            </div>
            
            <div class="col-md-3 col-md-3 col-xxl-3">
              Corporacion
            </div>
  
            <div class="col-md-4 col-md-4 col-xxl-4">
              <nb-select [selected]="corpsUnidadIn" (selectedChange)="changeLabUnidad($event)" style="width: 100%">
                <nb-option *ngFor="let corp of corpsUnidad" [value]="corp">{{ corp }}</nb-option>
              </nb-select>
            </div>
          </div>
        </nb-card-header>
        <nb-card-body>
          <table class="table table-wrapper-scroll-y my-custom-scrollbar" >
            <thead class="table-light" >
              <tr>
                <th scope="col">Corporacion</th>
                <th scope="col">Presentacion</th>
                <th scope="col">Pesos</th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-light" *ngFor="let predict of modelPredict; let i = index">
                <td>{{predict.corporacion}}</td>
                <td>{{predict.presentacion}}</td>
                <td>{{predict.pesos}}</td>
              </tr>
            </tbody>
          </table>  
        </nb-card-body>
      </nb-card>
    </div>  
  </div>
  <div class="col-xxl-4 col-sm-4 col-md-4 col-lg-4">
    <div class="table-wrapper-scroll-y my-custom-scrollbar" >
      <nb-card status="primary">
        <nb-card-header>
          <div class="row">
            <div class="col-md-5 col-md-5 col-xxl-5">
              Prediccion Mayo 2019
            </div>
            
            <div class="col-md-3 col-md-3 col-xxl-3">
              Corporacion
            </div>
  
            <div class="col-md-4 col-md-4 col-xxl-4">
              <nb-select [selected]="corpsPrecioIn" (selectedChange)="changeLabPrecio($event)" style="width: 100%">
                <nb-option *ngFor="let corp of corpsPrecio" [value]="corp">{{ corp }}</nb-option>
              </nb-select>
            </div>
          </div>
        </nb-card-header>
        <nb-card-body>
        <table class="table">
            <thead class="table-light" >
              <tr>
                <th scope="col">Corporacion</th>
                <th scope="col">Presentacion</th>
                <th scope="col">Unidades</th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-light" *ngFor="let predict of modelPredict; let i = index">
                <td>{{predict.corporacion}}</td>
                <td>{{predict.presentacion}}</td>
                <td>{{predict.unidades}}</td>
              </tr>
            </tbody>
          </table>  
        </nb-card-body>
      </nb-card>
    </div>  
  </div>
</div>

<br>

<div class="row">
  <div class="col-xxl-12 col-sm-12 col-md-12 col-lg-12">
    <nb-card>
      <nb-card-body>
          <div echarts [options]="chartOption" [loadingOpts]="loadingOpts" class="demo-chart" style="margin-top: 2%"></div>  
      </nb-card-body>
    </nb-card>
  </div>
</div>

<br>

<div class="row">
  <div class="col-xxl-12 col-sm-12 col-md-12 col-lg-12">
    <nb-card class="cards-container">
      <nb-card size="large" class="table-card" style="margin-top: 10%">
        <nb-card-header>
          Indicadores de comportamiento mensual
        </nb-card-header>
    
        <nb-tabset fullWidth>
          <nb-tab *ngFor="let year of listData" [tabTitle]="year.title" [active]="year.active">
            <nb-list>
              <nb-list-item *ngFor="let month of year.months">
                <span class="month">{{ month.month }}</span>
                <span>
                  <nb-icon
                    [class.down]="month.down"
                    [class.up]="!month.down"
                    [icon]="month.down ? 'arrow-down' : 'arrow-up'" pack="eva">
                  </nb-icon>
                  {{ month.delta }}
                </span>
                <span class="results">
                  {{ month.unidades }} <span class="caption">Unidades</span>    {{ month.pesos }} <span class="caption">Pesos</span>
                </span>
              </nb-list-item>
            </nb-list>
          </nb-tab>
        </nb-tabset>
      </nb-card>
    
      <nb-card size="large" class="chart-card" style="margin-top: 10%">
        <nb-card-header>
        </nb-card-header>
        <div echarts [options]="optionsKpi" [loadingOpts]="loadingOpts" class="demo-chart"></div>  
      </nb-card>
    </nb-card>
  </div>
</div>