<div class="row">
  <div class="col-md-7 col-md-7 col-xxl-7">
    <nb-card status="primary">
      <nb-card-header>
        <div class="row">
          <div class="col-md-6 col-md-6 col-xxl-6">
            Lista de alertas
          </div>
          
          <!--<div class="col-md-2 col-md-2 col-xxl-2">
            Corporacion
          </div>
          <div class="col-md-4 col-md-4 col-xxl-4">
            <nb-select [selected]="corpsIn" (selectedChange)="changeLab($event)" style="width: 100%">
              <nb-option *ngFor="let corp of corps" [value]="corp">{{ corp }}</nb-option>
            </nb-select>
          </div>-->

        </div>
      </nb-card-header>
      <nb-card-body>
        <table class="table table-wrapper-scroll-y my-custom-scrollbar" >
          <thead class="table-light">
            <tr>
              <th scope="col">Tendencia</th>  
              <th scope="col">Corporacion</th>
              <th scope="col">Producto</th>
              <th scope="col">Presentacion</th>
              <th scope="col">Molecula</th>
              <th scope="col">Clase</th>
              <th scope="col">Inicio</th>
              <th scope="col">Fin</th>
              <th scope="col">tipo</th>
              <th scope="col">Lanzamiento</th>
              <th scope="col">Id</th>
            </tr>
          </thead>
          <tbody class="table-hover">
            <tr class="table-light custom-tr" *ngFor="let object of prodModel; let i = index" (click)="getDetail(object.detalleid)">
              <td>{{object.tendencia}}</td>
              <td>{{object.corporacion}}</td>
              <td>{{object.producto}}</td>
              <td>{{object.presentacion}}</td>
              <td>{{object.moleculan1}}</td>
              <td>{{object.claseterapeutica}}</td>
              <td>{{object.fecini.value}}</td>
              <td>{{object.fecend.value}}</td>
              <td>{{object.tipo}}</td>
              <td>{{object.fechalanzamiento.value}}</td>
              <td>{{object.detalleid}}</td>
            </tr>
          </tbody>
        </table>  
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-5 col-md-5 col-xxl-5">
    <nb-card status="primary">
      <nb-card-header> Detalle </nb-card-header>
      <nb-card-body>
          <table class="table table-wrapper-scroll-y my-custom-scrollbar" >
            <thead class="table-light" >
            <tr>
                <th scope="col">Tendencia</th>  
                <th scope="col">Corporacion</th>
                <th scope="col">Producto</th>
                <th scope="col">Presentacion</th>
                <th scope="col">Molecula</th>
                <th scope="col">Inicio</th>
                <th scope="col">Fin</th>
                <th scope="col">Lanzamiento</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-light" *ngFor="let detail of modelDetail; let i = index">
              <td>{{detail.tendencia}}</td>
              <td>{{detail.corporacion}}</td>
              <td>{{detail.producto}}</td>
              <td>{{detail.presentacion}}</td>
              <td>{{detail.moleculan1}}</td>
              <td>{{detail.fecini.value}}</td>
              <td>{{detail.fecend.value}}</td>
              <td>{{detail.fechalanzamiento.value}}</td>
            </tr>
          </tbody>
        </table>  
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="alert alert-success col-md-12 col-md-12 col-xxl-12" role="alert">
    <td>{{alertTen}}</td>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-md-21 col-lg-12">
    <nb-card>
      <nb-card-header>Historico de producto</nb-card-header>
      <nb-card-body>
        <div *ngIf="showLine" echarts [options]="chartOption" [loadingOpts]="loadingOpts" class="demo-chart"></div>
      </nb-card-body>
    </nb-card>
  </div>
</div>