@import '../../@theme/styles/themes.scss';

@include nb-install-component() {
  .my-custom-scrollbar {
    height: 400px;
    overflow: auto;
  }
  .table-wrapper-scroll-y {
    display: block;
  }
  .back-white {
    background-color: white;
  }
  .custom-tr {
     cursor: pointer;
  }
  .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: blue($color: #aa5353);
  }
  
}